<div id="page-header">
	<p style="padding: 0.4em;" class="glyphicon glyphicon-align-justify"></p>
</div>
<br>
<div class="container">
<div><my-progressbar7></my-progressbar7></div>
<div id="jobTitle">
<p id="description">

What is it that attracts you to apply for this job ?
</p>
	<br />
	
	<input type="text" class="form-control" ng-model="info.info">
	
	<br />
	
	<button style="margin-top: 5em;" ng-click="saveInfo()"
			id="confirm" type="submit" class="btn btn-primary">Confirm
			and Continue</button>
	</div>
<div>
</div>
</div>