<div id="page-header">
	<p style="padding: 0.4em; height: 2em;"></p>
</div>
<br>
<div class="container">
	<my-progressbar6></my-progressbar6>
	<div id="jobTitle">
		<br />

		<p>What is it that attracts you to apply for this job ?</p>
		<br /> <input type="text" class="form-control" ng-model="info.info"
			required> <br />

		<button style="margin-top: 5em; margin-left: 4.5em"
			ng-click="saveInfo()" type="submit" class="btn btn-primary">Confirm
			and Continue</button>
<my-sidebar6></my-sidebar6>
	</div>
</div>
<br />
<div class="footer"></div>
