<!--  <img src="images/beautiful-wallpaper.jpg" />-->
<div id="page-header">
	<h1>You've found a job you really want, discover the best messages
		for your job application</h1>
</div>

<div class="container">
	<div id="jobPost">
		<form name="jobPostForm" ng-submit="sendForm()">
		<div role="form">
				<label for="jobPost">Job Post</label> <input placeholder="url"
					type="text" class="form-control input-sm" ng-model="url.url"
					required />
				<p class="alert alert-danger"
					ng-show="jobPostForm.url.$error.required && JobPostForm.url.$dirty"
					class="alert alert-warning">Required</p>
				<input id="btn" type="submit" value="Start" class="btn btn-primary"
					ng-disabled="jobPostForm.$dirty && jobPostForm.$invalid" />
			</div>
		</form>
	</div>
</div>

