<div  ng-app="annons-analys" ng-controller="MainCtrl">
<div class="container">
	<input id="image" type="image" name="Cruited" src="images/Cruited.png">
</div>

	<div id="url">
		<div>
			<p id="jobTitle">Job post</p>
	<form role="form">
			<input type="text" ng-model="url" placeholder="url"
				class="form-control" required="required">
</form>
		</div>
	</div>

<!-- Button Start -->
	<div>
		<button id="startButton" type="submit" class="btn"
			ng-click="sendForm()">Start</button>
		<span>{{ test }}</span>
	</div>
</div>
