<div id="page-header">
	<p style="padding: 0.4em;" class="glyphicon glyphicon-align-justify"></p>
</div>

<br />

<div class="container">
	<div>
		<my-progressbar4></my-progressbar4>
	</div>
	<br /> 
	<br /> 
	<br /> 
	<br /> 

	<p id="description">Good! Now we have to think about yourself. Are
		there any qualities <br />not mentioned in the ad, but that you think is
		important to do the job as {{ position }}? <br /> Based on your experience and your view
		of the role of {{ position }}. <br /> Remember: Being able accounting or holding the
		meetings are not properties.<br /> Properties are the things that make you
		good at something. For example, you are clear, kind and trustworthy.</p>
	<br />
	<div>
		<!-- keyword input -->
		<form role="form" ng-submit="addKeyword()">
			<div class="row">
				<div class="input-group">
					<input type="text" ng-model="missingkeyword"
						placeholder="it's important to be..." class="form-control">
					<span class="input-group-btn"> <input type="submit"
						class="btn btn-primary" value="Add">
					</span>
				</div>
			</div>
		</form>

		<!-- keyword list -->
		<div ng-model="missingkeyword" id="jobTitle">
			<p class="input-group"
				ng-repeat="missingkeyword in missingkeywords track by $index"
				style="padding: 5px 10px; cursor: move;">
				<input type="text" ng-model="missingkeyword" class="form-control">
				<span class="input-group-btn"> </span> <span class="input-group-btn">
					<button class="btn btn-danger" ng-click="removeKeyword ($index)"
						aria-label="Remove">X</button>
				</span>
			</p>
			<button style="margin-top: 2em;" ng-click="goToPrio()" id="confirm"
				type="submit" class="btn btn-primary">Confirm and Continue</button>
			<br />
			<p style="margin-left: 6em;">Add 1+ to continue</p>
		</div>
	</div>
</div>