<div id="page-header">
	<p style="padding: 0.4em;" class="glyphicon glyphicon-align-justify"></p>
</div>

<br />

<div class="container">
	<my-progressbar5></my-progressbar5>
	<br />

	<p id="description">
		Bra! Nu måste vi tänka på dig själv . Finns det några egenskaper som <br />
		inte nämns i annonsen, men att du tycker är viktigt att göra jobbet
		som {{ position }}? <br /> Baserat på din erfarenhet och din syn på
		den roll {{ position }}. <br /> Kom ihåg: Att kunna bokföring eller
		hålla möten är inte egenskaper. <br /> egenskaper är saker som gör
		dig bra på något. Till exempel, du är målmedveten, snäll och pålitlig.
	</p>
	<br />
	<div id="cards" class="card text-xs-center">
		<!-- keyword input -->
		<form role="form" ng-submit="addKeyword()">
			<div class="row">
				<div class="input-group">
					<input type="text" ng-model="missingkeyword"
						placeholder="it's important to be..." class="form-control">
					<span class="input-group-btn"> <input type="submit"
						class="btn btn-primary" value="Add">
					</span>
				</div>
			</div>
		</form>

		<!-- keyword list -->
		<div ng-model="missingkeyword" id="jobTitle">
			<p class="input-group"
				ng-repeat="missingkeyword in missingkeywords track by $index"
				style="padding: 5px 10px; cursor: move;">
				<input type="text" ng-model="missingkeyword" class="form-control">
				<span class="input-group-btn"> </span> <span class="input-group-btn">
					<button class="btn btn-danger" ng-click="removeKeyword ($index)"
						aria-label="Remove">X</button>
				</span>
			</p>
			<button style="margin-top: 2em;" ng-click="goToPrio()" id="confirm"
				type="submit" class="btn btn-primary">Bekräfta och Gå
				Vidare</button>
			<br />
			<p style="margin-left: 0em;">Lägg till 1+ för att fortsätta</p>
		</div>
	</div>
</div>