<div ng-app="annons-analys" ng-controller="PostCtrl">
	<div class="container">
		<input id="image" type="image" name="Cruited" src="images/Cruited.png"
			height="50">
		<div id="jobPost">
			<h4>The Job You're Looking For</h4>
			<br />
			<p>Position You're Looking For</p>
			<input type="text" class="form-control" placeholder="Project Manager"
				ng-model="title"> 
				<span>{{ get }}</span>
				<br />
				<br />
			<p>Employer</p>
			<input type="text" class="form-control">
		</div>

		<br /> 
		<br /> 
		<br />

		<div>
			<button id="confirm" type="button" class="btn">Confirm and
				Continue</button>
		</div>

	</div>