<div id="page-header">
	<p style="padding: 0.5em;" class="glyphicon glyphicon-align-justify"></p>
</div>
<div class="container">
	<div id="jobTitle">
		<h4 style="margin-left: 1em;">The Job You're Looking For</h4>
		<br />
		<p>Position You're Looking For</p>
		<input type="text" class="form-control" placeholder="{{ title }}"
			ng-model="title.title"> <br /> <br />
		<p>Employer</p>
		<input type="text" class="form-control" value=""> <br />
		<br /> <br /> 
		<div id="url">
			<span class="glyphicon glyphicon-globe"></span> <a
				ng-href="{{adress}}"> {{ list }}</a></span>
		</div>

		<br /> <br />

		<button ng-click="newPage()" id="confirm" type="submit" class="btn">Confirm
			and Continue</button>
		<br /> <br /> <br />

	</div>