<div id="page-header">
	<p style="padding: 0.5em;" class="glyphicon glyphicon-align-justify"></p>
</div>

<div class="container">
	<div id="JobAdInfo">
		<form name="JobAdInfo" ng-submit="newPage()">
			<div role="form">
				<br /> <label for="jobadinfo">The Job You're Looking For</label> <br />
				<br /> <br />
				<p>Position you're looking for</p>
				<input placeholder="Project Manager" type="text"
					class="form-control input-sm" ng-model="title.title" required>

				<!--  <p class="alert alert-danger"
					ng-show="JobAdInfo.title.title.$error.required"
					class="alert alert-warning">Required</p>-->

				<br /> <br />
				<p>Employer</p>
				<input placeholder="Ericsson" type="text"
					class="form-control input-sm" ng-model="title.employer" required>

				<!-- <p class="alert alert-danger"
					ng-show="JobAdInfo.title.employer.$error.required"
					class="alert alert-warning">Required</p> -->
				<div>
					<br /> <br /> <span class="glyphicon glyphicon-globe"><a
						id="url" ng-href="{{ address }}"> {{ address }}</a></span>
				</div>

				<input id="confirm" style="margin-top: 2.5em;" type="submit"
					value="Confirm and Continue" class="btn btn-primary"
					ng-disabled="jobAdInfo.$dirty && jobAdInfo.$invalid" />


			</div>
		</form>
	</div>
</div>