<div id="page-header">
	<p style="padding: 0.4em;" class="glyphicon glyphicon-align-justify"></p>
</div>

<div class="container">
	<div id="jobTitle">
		<br />
		<p style="margin-left: 1.5em;">What do you think is most important
			for Ericsson? Prioritize by drag-and-dropping with the most important
			at the top.</p>
		<br />
		<ul ng-repeat="keyword in keywords track by $index">
			<li id="prio" class="form-control">{{keyword}}</li>
		</ul>
		<ul ng-repeat="missingkeyword in missingkeywords track by $index">
			<li id="prio" class="form-control">{{missingkeyword}}</li>
		</ul>
		
		<button style="margin-top: 8em;" ng-click="newPage()" id="confirm"
					type="submit" class="btn"
					ng-disabled="jobPostForm.$dirty && jobPostForm.$invalid">Confirm
					and Continue</button>

	</div>

</div>
