<div id="page-header">
	<p style="padding: 0.4em;" class="glyphicon glyphicon-align-justify"></p>
</div>

<div class="container">
	<br />
	<div class="progress">
		<div class="progress-bar progress-bar-striped active"
			role="progressbar" aria-valuenow="40" aria-valuemin="0"
			aria-valuemax="100" style="width: 80%">80%</div>
	</div>
	<div id="jobTitle">
		<br />
		<p style="margin-left: 1.5em;">What do you think is most important
			for Ericsson? Prioritize by drag-and-dropping with the most important
			at the top.</p>
		<br />

		<ul ui-sortable ng-model="allKeywords">
			<li id="prio" class="form-control"
				ng-repeat="keyword in allKeywords track by $index"
				style="cursor: move;">{{keyword}}</li>
		</ul>

		<button style="margin-top: 8em;" ng-click="done()" id="confirm"
			type="submit" class="btn btn-primary">Confirm and Continue</button>

	</div>
</div>
