<div id="page-header">
	<p style="padding: 0.4em; height: 2em;" ></p>
</div>

<div class="container">
	<br>
	<my-progressbar2></my-progressbar2>

	<div id="jobTitle">
		<p>Gå igenom din jobbansökan och leta efter kvaliteter som de söker
			efter , I nästa steg kommer du att plocka ut åtminstone tre.</p>

		<button style="margin-top: 5em; margin-left: 6em;" ng-click="cont()"
			id="btn" type="submit" class="btn btn-primary">Gå Vidare</button>

		<my-sidebar2></my-sidebar2>
	</div>
</div>
<br />
<div class="footer"></div>
