<div id="page-header">
	<p style="padding: 0.4em;" class="glyphicon glyphicon-align-justify"></p>
</div>

<div class="container">
<br>
<div>
<my-progressbar3></my-progressbar3>
</div>

<br>
<br>

<div id="jobTitle">
<p>Go trough the job application and look for qualities they are searching for, In the next step you will,
pick out at least 3.</p>

<button style="margin-top: 8em; margin-left:4em;" ng-click="cont()" id="Continue"
			type="submit" class="btn btn-primary">Confirm and Continue</button>
</div>
</div>
