<div id="page-header">
	<p style="padding: 0.4em;" class="glyphicon glyphicon-align-justify"></p>
</div>

<div class="container">
	<br />
	<div>
		<my-progressbar8></my-progressbar8>
	</div>
	<br />
	<div id="jobTitle">
		<p style="margin-left: 1.5em;">
			Here's what you've come up to so </br> far. Use this when you write your
			job </br> application or talk with the employer..
		</p>
		<br />
		<ul style="margin-left: 3em;" ng-model="allKkeywords">
			<li ng-repeat="keyword in allKeywords track by $index" id="prio"
				class="form-control">{{keyword}}</li>
		</ul>

		<br>
		<div id="card" class="card card-inverse card-primary text-xs-center">
			<div class="card-block">
				<blockquote class="card-blockquote">
					<p id="txt">{{info}}</p>
				</blockquote>
			</div>
		</div>


	</div>
</div>

