<div id="page-header">
    <p style="padding: 0.4em;" class="glyphicon glyphicon-align-justify"></p>
</div>

<div class="container">
<br />
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
    100%
  </div>
</div>
    <div id="jobTitle">
        <br />
        <p style="margin-left: 1.5em;">
            Here's what you've come up to so </ br> far. Use this when you write
        your job </br> application or talk with the employer..
        </p>
        <br />
        <ul ng-repeat="keyword in keywords track by $index">
            <li id="prio" class="form-control">{{keyword}}</li>
        </ul>
        <ul ng-repeat="missingkeyword in missingkeywords track by $index">
            <li id="prio" class="form-control">{{missingkeyword}}</li>
        </ul>


    </div>

</div>