<div id="page-header">
	<p style="padding: 0.4em; height: 2em;"></p>
</div>

<div class="container">
	<br />
	<div>
	<my-progressbar7></my-progressbar7>
	</div>
	<br />
	<div id="jobTitle">
		<p style="margin-left: 1.5em;">
			Här är vad du har kommit fram till så <br> långt . Använd detta
			när du skriver din jobb <br> ansökan eller pratar med
			arbetsgivaren..
		</p>
		<br />
		<ul style="margin-left: 3em;" ng-model="theKeywords">
			<li ng-repeat="keyword in theKeywords track by $index" id="prio"
				class="form-control">{{keyword}}</li>
		</ul>


		<br>
		<div id="card" class="card card-inverse card-primary text-xs-center">
			<div class="card-block">
				<blockquote class="card-blockquote">
					<p id="txt">{{info}}</p>
				</blockquote>
			</div>
		</div>

		<br />
		<Button class="btn btn-primary" style="margin-left: 4em;"
			ng-click="createDoc()" value="Get Document">Ladda ner din rapport<span style="margin-left:8px"class="glyphicon glyphicon-paperclip"
				aria-hidden="true"></span></button>
		<my-sidebar7></my-sidebar7>
	</div>
</div>
<br />
<div class="footer"></div>

