<div id="start-page">
<div class="container">
<div id="jobTitle">
<div class="box large left">
	<h2><b>Welcome</b></h2>
	This website will help you lift out important qualities for your future job application. 
	When you are ready just click the start button.
</div>

	<button id="welcome-btn" ng-click="start()" type="submit" class="btn">Start</button>
			
	<div id="menu">
		<h1 id="menu1"><a href="https://cruited.com/"><b>GOTO</b>CRUITED</a></h1>
		<div>
			<ul>
				<li><a href="About">INTRODUCTION</a></li>
			</ul>
		</div>
	</div>
	</div>
</div>
</div>
