<div id="start-page">
	<div class="box large left" id="box">
		<h2 id="welcome">
			<b>Välkommen</b>
		</h2>
		I vår lilla annons-analys, kommer vi att hjälpa dig lyfta ut viktiga
		egenskaper för din framtida jobbansökan . När du är känner dig redo
		klickar du bara på start knappen.
	</div>

	<div id="menu">
		<h1 id="menu1">
			<a href="https://cruited.com/"><b>GÅ TILL</b>CRUITED</a>
		</h1>
		<div>
			<ul>
				<li><a ng-click="start()" style="color: white;">Klicka här
						för att Starta</a></li>
			</ul>
		</div>
	</div>
</div>
